:root {
  --heading-font: "Space Grotesk", sans-serif;
  --body-font: "Montserrat", sans-serif;
  --bg-color-1: #c9dcb7;
  --bg-color-2: #f7eef4;
  --primary-color: #698159;
  --secondary-color: #cf76a9;
  --shadow: 0 1.5px 15px rgb(0 0 0 / 0.1);
}

/* DIRECT HTML ELEMENTS */

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}
body {
  font-family: var(--body-font);
}
.logo {
  max-height: 70px;
}
nav {
  background-color: rgb(255, 255, 255, 0.8);
  max-height: 80px;
  margin-bottom: 10px;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  line-height: 20px;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
nav li a.active {
  font-weight: bold;
}
h1 {
  font-size: 90px;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  font-size: 40px;
}

h3 {
  font-size: 80px;
  font-weight: 100;
}
h4 {
  font-size: 25px;
  font-weight: 300;
}
p {
  font-size: 16px;
  font-weight: normal;
}
/* BRANDING ELEMENTS */

.btn-branding {
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  box-shadow: var(--shadow);
  text-decoration: none;
}
.btn-branding:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: transparent;
  transition: 200ms;
}
.btn-branding-2 {
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  box-shadow: var(--shadow);
  text-decoration: none;
}
.btn-branding-2:hover {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  transition: 200ms;
}
.btn-branding-outline {
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  box-shadow: var(--shadow);
  text-decoration: none;
}
.btn-branding-outline:hover {
  background-color: var(--secondary-color);
  color: white;
  transition: 200ms;
}
.content-image {
  border-radius: 4px;
  margin: 20px;
}
.content {
  padding: 30px;
  line-height: 1.75;
}
.content-body-subheading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.content-box {
  margin-top: 100px;
  background-color: var(--bg-color-2);
  padding: 40px;
  max-width: 800px;
  display: block;
  margin: auto;
}
.link {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.25s ease-in-out;
}
.link:hover::before {
  width: 100%;
}
.navbar-custom {
  background-color: white;
}
i {
  font-size: 20px;
  padding: 10px;
  color: var(--primary-color);
  background-color: var(--bg-color-1);
  border-radius: 50%;
}
i:hover {
  background-color: var(--primary-color);
  color: white;
  transition: 100ms ease-in-out;
}
.social-links {
  margin: 30px 15px;
}
.email-link {
  font-weight: bold;
  padding: 7px;
}
/* HOMEPAGE SPECIFIC ELEMENTS */
.hero {
  background-color: var(--bg-color-2);
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}
.info-paragraph {
  font-family: var(--body-font);
  text-align: center;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
}
.img-container {
  padding: 15px;
  border: 5px black solid;
  border-radius: 4px;
}
.project-description {
  padding: 120px 60px;
}
/* .homepage-content {
  background: linear-gradient(90deg, var(--bg-color-2) 50%, white 50%);
} */
.contact-icon {
  font-size: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
  .navbar-collapse {
    margin: 0 auto;
    padding: 10px;

    background-color: rgb(255, 255, 255, 0.8);
  }
}
@media (max-width: 992px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h2 {
    font-size: 35px;
  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  .content {
    text-align: center;
  }
  .content img {
    /* want to center image */
    display: block;
    margin: 0 auto;
    max-height: 300px;
  }
}
