:root {
  --heading-font: "Space Grotesk", sans-serif;
  --body-font: "Montserrat", sans-serif;
  --bg-color: rgb(134, 200, 2, 0.1);
  --primary-color: #86c802;
  --secondary-color: #705568;
  --shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.hero {
  background-color: var(--bg-color);
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}

.heading1,
.heading2,
.heading3,
.heading4 {
  font-family: var(--heading-font);
  font-weight: 700px;
  padding: 10px;
}
.heading1 {
  font-size: 40px;
  margin-top: 100px;
  line-height: 0.8;
  margin: 40px;
}

.heading3 {
  font-size: 80px;
}
.heading4 {
  font-size: 20px;
}
.btn-branding {
  padding: 15px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: black;
  border: none;
  box-shadow: var(--shadow);
  margin-top: 13px;
}
.btn-branding:hover {
  color: white;
}
.info-paragraph {
  font-family: var(--body-font);
  text-align: center;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
}
.card {
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  margin: 20px;
}
.navbar-logo {
  max-width: 70px;
}
.navbar-custom {
  background-color: white;
}
.contact-icon {
  font-size: 40px;
}
